body{
	
}

table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

tr:hover{
	background-color: aquamarine;
}

th:not(.th_rm){
	width: 200px;
}

caption{
	caption-side: bottom;
}

input{
	border: 0px;
	width: 100%;
	background-color: inherit;
	outline: none;
	font-size: inherit;
	font-family: inherit;
}